#landingPageContainer .card{
	display: inherit;
}

#landingHeaderContainer{
	border: 4px solid black;
	background-color: white;
	color: #333;
}

.accordionTitle{
	margin-top: 5%;
	border: 3px solid black;
	background-color: white;
	color: #333;
	width: 50%;
}

#basicFeaturesAccordion, #userFeaturesAccordion{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#landingButtonContainer{
	text-align: center;
	margin-top: 5%;
}