.about {
  position: absolute;
  background: #ffffff;
  max-width: 450px;
  width: 100%;
  border: 15px solid black;
  right: 0;
  left: 0;
  margin: 5% auto;
  z-index: 2;
  background-color: white;
  padding: 3%;
  color: #333;
}

.about .card{
  display: inherit;
}

#aboutAbout ol{
  text-align: left;
}


#aboutButtonContainer{
  text-align: center;
}

#aboutDemo, #aboutClose{
  border: 2px solid black;
  color: #333;
}

#aboutDemo{
  background-color: #6DCCC4;
  box-shadow: 15px -15px #6DCCC4, inset .83em -.83em white;
}

#aboutDemo:hover{
  background-color: #FA4236;
  box-shadow: -15px 15px #FA4236, inset -.83em .83em white; 
}

#aboutDemo:active{
  background-color: #E196BD;
  box-shadow: none;
  color: white;
}

#aboutClose{
  background-color: #FFF965;
  box-shadow: -30px 15px #FFF965, inset -1.75em .83em white;
}

#aboutClose:hover{
  background-color: #E196BD;
  box-shadow: 30px -15px #E196BD, inset 1.75em -.83em white;
}

#aboutClose:active{
  background-color: #FA4236;
  box-shadow: none;
  color: white;
}

@media screen and (min-width: 700px){

  .about {
    position: absolute;
    background: #ffffff;
    max-width: 750px;
    width: 100%;
    border: 15px solid black;
    right: 0;
    left: 0;
    margin: 5% auto;
    z-index: 2;
    background-color: white;
  }

}