.about {
  position: absolute;
  background: #ffffff;
  max-width: 450px;
  width: 100%;
  border: 15px solid black;
  right: 0;
  left: 0;
  margin: 5% auto;
  z-index: 2;
  background-color: white;
}

.closeAbout{
  position: absolute;
  right: 0;
  top: 0;
}

.about > ol{
  text-align: left;
}


#aboutButtonContainer{
  text-align: center;
}