#publicResultTitle > #header{
	background: #E196BD;
	border: 2px solid black;
	color: #333;
	width: 40%;
	text-align: left;
	margin-top: 3%;
	box-shadow: 45px 10px #E196BD, inset 1.07em 0.2em #F6F6F6;
}


	.rightAligned{
		position: absolute;
		right: 2px;
		top: 2px;
	}

	.result{
		padding-left: 0;
		padding-right: 0;
		height: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		font-size: 14px;
		border: 3px solid black;
		background-color: white;
		margin-bottom: 3%;
		color: #333;
	}

	.wishlistSelect{

	}

	.cover{
		background-color: red;
		height: auto;
		width: 75px;
	}

	.bookInfo{
		height: 100%;
		width: 95%;
	}

	.title {
		font-size: 22px;
		text-align: left;
	}

	.bookAuthor{
		font-size: 18px;
		text-align: left;
	}

	.preview, .abbr{
		display: none;
	}

	.audioBook{
		margin-bottom: 0;
	}

	.database{
		font-size: 10px;
		text-align: right;
	}

	.icon{
		width: 12px;
		height: 12px;
		margin-right: 1%;
	}


@media screen and (min-width: 700px){
		.result{
			padding-left: 0;
			padding-right: 0;
			width: 90%;
			height: auto;
			margin-bottom: 1%;
			border: 5px solid black;
		}

		.wishlistSelect{
			width: 100%;
		}

		.cover{
			background-color: red;
			height: auto;
			width: 100%;
		}

		.bookInfo{
			height: 100%;
			border: 1px solid black;
			width: 90%;
		}

		.title {
			text-align: left;
			font-size: 22px;
		}

		.bookAuthor{
			text-align: left;
			font-size: 18px;
		}


		.format{
			text-align: left;
		}

		.preview, .abbr{
			display: initial;
		}

		.database{
			font-size: 12px;
		}

		.icon{
			width: 12px;
			height: 12px;
			margin-right: 1%;
		}
	/**/
}