#resultsPage > #header{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	text-align: center;
	color: #333;
	border: 3px solid #333;
	width: 30%;
  	background-color: #FFF965;
  	box-shadow: 60px -10px #FFF965, inset 1.4em -0.2em #F6F6F6;
}


#main-container{
	height: auto;
	width: 100%;
}

#main-row{
	height: auto;
	margin-top: 3%;
	margin-bottom: 10%;
}

#results{
	height: auto;
	width: 100%;
	padding: 0;
}




@media screen and (min-width: 700px){
	body{
		text-align: center;
		line-height: 1.75em;
	}

	#resultsPage > #header{
		background-color: #FFF965;
		box-shadow: 150px -10px #FFF965, inset 3.7em -0.2em #F6F6F6;
	}

	#main-container{
		min-height: auto;
		width: 100%;
	}

	#main-row{
		height: 100%;
		margin-top: 3%;
		margin-bottom: 5%;
	}

	#results{
		height: auto;
	}
}