#container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header{
	margin-bottom: 3%;
}

#subtitle{
	font-size: 18px;
}

#bookSearch{
	width: 50%;
	margin-bottom: 2%;
}

#advanced{
	font-size: 16px;
}