body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
  height: auto;
  padding-bottom: 70px;
  background: #FFE0B5;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('/resources/OMEGGK0.jpg');
}

#header{
  font-family: 'Teko', sans-serif;
}

#subtitle{
  font-family: 'Roboto Condensed', sans-serif;
}